<html ng-app="Financeiro" >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge" >
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" >
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
		
		<script type="text/javascript" src="../../js/module/financeiro-module.js"></script>
		<script type="text/javascript" src="../../js/controller/financeiro/matricula-controller.js"></script>
		

		<title>Consultar Matrícula</title>
	</head>
	<body ng-controller="MatriculaCtrl" >
			{{pageHeader}}
			{{mensalidades}}
		<div class="container-fluid" >
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">Cadastrar Matrícula</div>
					<div class="panel-body">
						<form name="formMatricula">
							<div class="row">
								<div class="form-group col-md-4 col-sm-4 col-xs-12" >
									<label for="matricula" >Matrícula</label>
									<input id="matricula" class="form-control"/>
								</div>
								<div class="form-group col-md-4 col-sm-4 col-xs-12" >
									<label for="mensalidade" >Mensalidade</label>
									<input id="mensalidade" name="mensalidade" class="form-control"/>
								</div>
								<div class="form-group col-md-4 col-sm-4 col-xs-12" >
									<label for="diaVencimento" >Dia do Vencimento</label>
									<input id="diaVencimento" name="diaVencimento" class="form-control"/>
								</div>
								<div class="form-group col-md-12 col-sm-4 col-xs-12" >
									<label for="nome" >Nome</label>
									<input id="nome"  class="form-control"/>
								</div>
							</div>
							<div class="row">
								<div class="container-fluid">
									<div class="form-group btn-group">
										<button class="btn btn-primary " >Adicionar</button>
									</div>
									<div class="form-group btn-group">
										<button class="btn btn-default" ng-click="adicionar();" >Limpar</button>
									</div>
									<div class="form-group btn-group">
										<button class="btn btn-default " >Cancelar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="row" >
						<div class="container-fluid" >
							<div class="input-group">
			                    <span class="input-group-addon" id="basic-addon1">
			                        <span class="glyphicon glyphicon-search"></span>

			                    </span>
			                    <input class="form-control" type="text" placeholder="Search" ng-model="searchCriterion" >
			                </div>
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Matrícula</th>
											<th>Nome</th>
											<th>Mensalidade</th>
											<th>Dia de Vencimento</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="aluno in alunos" >
											<td>{{aluno.matricula}}</td>
											<td>{{aluno.nome}}</td>
											<td>{{aluno.mensalidade | currency: "R$ "}}</td>
											<td>{{aluno.dataVencimento}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel-footer">&copy; 2016 - Sistema Gerencial para Acadêmias</div>
				</div>
			</div>
		</div>
	</body>
</html>