<!DOCTYPE html>
<html lang="pt-br" ng-app="Academia">
	<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
      <title>Exercícios</title>
      
      <style>
        .jumbotron{
          width: 600px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

        .form-control{
          margin-bottom: 5px;
        }
      </style>
	</style>
	</head>
	<body ng-controller="ExercicioCtrl" class="container-fluid">
      <div class="jumbotron">
        <h3>{{titulo}}</h3>
        <hr/>
        <div class="row">
          <div class="col-md-12" >
            <select class="form-control" ng-model="membro" ng-options="membro.nome for membro in membros">
              <option value="">Selecione um Grupo Muscular</option>
            </select>
          </div>
          <div class="col-md-12" >
            <input class="form-control" type="text" ng-model="descricao" placeholder="Descrição" />
          </div>
          <div class="col-md-4" >
            <input class="form-control" type="text" ng-model="serie" placeholder="Série" />
          </div>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="repeticao" placeholder="Repetições" />
          </div>
          <div class="col-md-4">
            <input class="form-control" type="text" ng-model="peso" placeholder="Peso em kg" />
          </div>
        </div>
        <div class="row">
          <div class="btn-group" >
            <button class="btn btn-primary" ng-click="adicionarGrupo(nome)" ng-disabled="!nome || !membro">Adicionar Grupo</button>
          </div>
        </div>
        <hr/>
      </div>

      <script type="text/javascript" src="../../js/module/academia-module.js"></script>
      <script type="text/javascript" src="../../js/controller/academia/exercicio-controller.js"></script>
	</body>
</html>