<!DOCTYPE html>
<html lang="pt-br" ng-app="Academia">
	<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
      <title>Grupo Muscular</title>
      
      <style>
        .jumbotron{
          width: 600px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

        .form-control{
          margin-bottom: 5px;
        }
      </style>
	</style>
	</head>
	<body ng-controller="GrupoMuscularCtrl" class="container">
      <!--<section class="container">
        <form class="row form-horizontal">
          <label for="txtNomeMusculo" class="col-md-2 control-label">Nome:</label>
          <div class="col-md-4">
            <input type="text" id="txtNomeMusculo" class="form-control" placeholder="Nome do musculo"/>
          </div>
          <label for="txtGrupoMusculo" class="col-md-2 control-label">Membro:</label>
          <div class="col-md-4">
            <input type="" id="txtGrupoMusculo" class="form-control" placeholder="Nome do musculo"/>
          </div>
        </form>
      </section>-->
     <!-- <div class="jumbotron">
        <h3>{{titulo}}</h3>
        <form nome="cadastroGrupoMuscular">
          <label for="txtNomeMusculo" class="col-xs-2 control-label">Nome:</label>
          <div class="col-sm-4">
            <input class="form-control" type="text"  placeholder="Nome do Musculo" />
          </div>

          <label for="txtNomeMusculo" class="col-xs-2 control-label">Membro:</label>
          <div class="col-sm-4">
            <select class="col-xs-2 form-control" >
				<option value="">Selecione um membro</option>
		    </select>
          </div>
        </form>
        
      </div> -->
      
      
      
      
      
      <div class="jumbotron">
        <h3>{{titulo}}</h3>
        <hr/>
        {{nome}}
        {{membro}}
        <input class="form-control" type="text" ng-model="nome" placeholder="Nome do grupo muscular" />
        <select class="form-control" ng-model="membro" ng-options="membro.nome for membro in membros">
          <option value="">Selecione um Membro</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarGrupo(nome)" ng-disabled="!nome || !membro">Adicionar Grupo</button>
        <button ng-click="cadastroExercicio();" >Cadastro exercicio</button>
        <hr/>
        <table class="table table-striped">
          <tr>
            <th>Nome</th>
            <th>Grupo Muscular</th>
          </tr>
          <tr ng-repeat="grupo in grupos">
            <td>{{grupo.nome}}</td>
            <td>{{grupo.membro}}</td>
          </tr>
        </table>
      </div>

      <script type="text/javascript" src="../../js/module/academia-module.js"></script>
      <script type="text/javascript" src="../../js/controller/academia/grupo-muscular-controller.js"></script>
	</body>
</html>